.add-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.title-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #0000007c;
  border-radius: 4px;
  font-size: 16px;
}

.amount-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.amount-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #0000007c;
  border-radius: 4px;
  font-size: 16px;
}

.amount-unit-select {
  padding: 10px;
  border: 1px solid #0000007c;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: #c8e4ff;
  color: white;
}

.cancel-button {
  position: absolute;
  top: -25px;
  right: 0;
  width: 20px;
  height: 20px;
  color: #ffffff90;
}

.error {
  border-color: #f44336 !important;
}

.error-message {
  color: #f44336;
  font-size: 12px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

input:active, input:focus, select:focus, select:active {
  border-color: #000000;
}